.nav{
    background-color: lightgray;
   
}

.nav-link{
    color: gray;
}
a.active{
       color:black; 
}
ul.justify-content-end {
background-color:transparent;
}
.navbar-brand{
    background-color: teal;
    margin-left: 10px;
   
}

.body-image{
  
  width: 100%;
  height: 100%;
  background-image: url(assets/backgroundimage.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  
}

.body-image .container{
    background-color:white;
    width:65%;
    margin-top: 100px;
    margin-left: 30px;
    padding: 40px;
}

.heading{
    color:teal;
}

.horizontal-divider{
    margin-top:5px;
    margin-bottom:5px;
    height:1px;
    width:100%;
    border-top:1px solid lightgray;
   }
   .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color:gray;
    color: white;
    text-align: center;
    border-top: 10px solid teal;
 }

 .body-image button{
     background-color: teal;
 }