
/* Making the Nav Bar similar to the sample Images provided in the homework */

.navbar-brand{
    background-color:rgb(40, 182, 182);
    margin-left: 10px;
    font-family: Serif;
    font-size: 30px; 
    font-weight: bold;
}
.navbar-light .navbar-brand {
    color: #f8f9fa;
}

a.active{
       color:black; 
}

/* Adding a background Image for the entire visible body*/

.body-image{ 
  width: 100%;
  height: 100%;
  background-image: url(../backgroundimage.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block; 
}

.body-image .container{
    
    margin: 80px 60px 70px 60px;
}
.aboutMe, .contactMe, .portfolio{
    background-color: white;
    line-height: 1.75;
    padding: 40px;
    margin-right: 80px;
    margin-left: -30px;

}
.heading{
    color:rgb(40, 182, 182);
    font-family: serif;
    font-weight: bold;
}

.horizontal-divider{
    margin-top:5px;
    margin-bottom:10px;
    height:1px;
    width:100%;
    border-top:1px solid lightgray;
   }

 /* About Me Page profile picture style */

.aboutMe-image{
    float:left;
    margin:0px 20px 20px 0px;
    width:200px;
    height: 200px;
 }

 /* Portfolio Page Styles */

 .portfolio-image{
    float:left;
    margin:20px 20px 20px 20px;
    width:350px;
    height:350px; 
    align-items: center;
 }

 /* Contact Me Button Style */

.body-image .btn{
    background-color:rgb(40, 182, 182);
    border-color: rgb(40, 182, 182);
}

/* fixed Footer Styles  */

   .footer {
   
   position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color:gray;
    color: white;
    text-align: center;
    border-top: 10px solid rgb(40, 182, 182);
    
 }
 
 

